= form_tag team_tasks_path(:id => current_team_id), :method => :post do

    = render "form"

    = hidden_field_tag(:sort_by, params[:sort_by])
    = submit_tag 'Save Changes'
    = link_to 'Cancel', team_tasks_path(:id => current_team_id, :sort_by => params[:sort_by], :anchor => 'list'), :class => :button