<a href="#add">Add new task</a>

%table#tasks
    %thead
    %tr
        %th Complete
        %th Title
        %th Due
        %th Priority
        %th Description
        %th 
    %tbody
    -@tasks.each do |task|
        - if task.team_id == current_team_id
            %tr
            %td= link_to "#{task.complete}", complete_team_task_path(current_team_id, task), :method => :complete
            -#%td= check_box_tag "completed", true, task.complete, data: { remote: true, url: complete_task_path(task), method: :post}
            %td= task.title
            %td= task.due.strftime("%b %d, %Y")
            %td= task.priority
            %td= task.description
            %td= link_to 'Delete', team_task_path(current_team_id, task), :method => :delete

:javascript
    $('tr').click(function() {
        url = $(this).find('a').attr('href');
        $.ajax({
            type: "POST",
            url: url
        });
    }).hover( function() {
        $(this).toggleClass('hover');
    });