	<body>
		<!-- Header -->
			<section id="header">
				<header>
					<!-- <span class="image avatar">
						<img src="/img/avatar.jpg" alt="" />
						</span> -->
					<div>
						<% if current_user %>
						<h1 class="loggedIn" id="logged_in"><%= current_user.name %></h1>
						<p><span>Team <strong><%= current_user.team.name %></strong>!</span></p>
						<span><%= link_to "Sign out", signout_path, id: "sign_out"%></span>
						<% else %>
						<h1 id="logo">Welcome</h1>
						<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
						<% end %>
					</div>
					<!-- <p><a href="#one" class="active">Login/Signup</a></p> -->
				</header>
				<nav id="nav">
					<% if current_user && current_user.team.name != "TaskDragon" %>
					<ul>
						<li><a href="#dragon" class="active"> Dragon</a></li>
						<li><a href="#list">Tasks</a></li>
						<li><a href="#team">Team</a></li>
						<li><a href="#four">Contact</a></li>
						<%= link_to "Delete your account", user_path(current_user), :class => :button, :method => :delete %>
					</ul>
					<% elsif current_user && Team.find(current_team_id).name == "TaskDragon" %>
					<ul>
						<li><a href="#team" class="active">Team</a></li>
						<li><a href="#list">Tasks</a></li>
						<li><a href="#dragon"> Dragon</a></li>
						<li><a href="#four">Contact</a></li>
						<%= link_to "Delete your account", user_path(current_user), :class => :button, :method => :delete %>
					</ul>
					<% else %>
					<ul>
						<li><a href="#one" class="active">About</a></li>
						<li><a href="#two">Things I Can Do</a></li>
						<li><a href="#four">Contact</a></li>
					</ul>
					<% end %>
				</nav>
			</section>
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
							<!-- All tasks -->
							<% if current_user && current_user.team.name != "TaskDragon" && Team.find(current_team_id).dragon %>
								<section id="one">
								</section>
								<section id="dragon">
								<div class = "container">
									<%= render 'dragons/dragons'%>
								</div>
							</section>
								<br><br>
								<section id="list">
									<div class="container">
										<% flash.each do |key, value| %>
										  <div class="alert alert-<%= key %>"><%= value %></div>
										<% end %>
										<%=render 'tasks/tasks'%>
									</div>
								</section>
								<section id="team">
									<div class="container">
										<%= render 'teams/show'%>
									</div>
								</section>
								<br><br>
								<!--Four -->
								<section id="four">
									<div class="container">
										<h3>Contact us</h3>
										<p>Questions, comments, concerns? Let us know!</p>
										<%=render 'messages/message'%>
									</div>
								</section>
							<% elsif current_user &&  current_user.team.name != "TaskDragon" && !Team.find(current_team_id).dragon %>
							<section id="one">
							</section>
							<section id="dragon">
								<div class = "container">
									<h1> Select a dragon. </h1>
									<%= render 'dragons/new' %>
								</div>
								<br><br>
								</section>
								<section id="list">
									<div class="container">
										<h1> Choose a dragon to view tasks. </h1>
									</div>
								<!-- Add tasks -->
									<div class="container">
										<h1> Choose a dragon to add tasks. </h1>
									</div>
								</section>
								<section id="team">
									<div class="container">
										<h1> Choose a dragon to view team details. </h1>
									</div>
								</section>
								<br><br>
							<!--Four -->
							<section id="four">
								<%= render 'messages/message' %>
							</section>
							<% elsif current_user && Team.find(current_team_id).name == "TaskDragon" %>
							<section id="one">
							</section>
							<section id="team">
								<%= render 'teams/new' %>
								<%= render 'teams/search' %>
								<%= render 'teams/team' %>
							</section>
							<br><br>
							<section id="list">
								<div class="container">
									<h1> Create a team to view tasks. </h1>
								</div>
							<!-- Add tasks -->
								<div class="container">
									<h1> Create a team to add tasks. </h1>
								</div>
							</section>
							<br><br>
							<section id="dragon">
								<div class = "container">
									<h1> Create a team to select a dragon. </h1>
								</div>
							<br><br>
								</section>
							<!--Four -->
							<section id="four">
									<h3>Contact us</h3>
										<p>Questions, comments, concerns? Let us know!</p>
								<%= render 'messages/message'%>
							</section>
							<% else %>
							<!-- One -->
								<section id="one">
									<div class="container">
										<header class="major">
											<h2>Welcome to TaskDragon!</h2>
											<p>TaskDragon is an environment that hosts all your project planning needs in a fun, collaborative way!<br />
											</p>
										</header>
									</div>
								</section>
							<!-- Two -->
								<section id="two">
									<div class="container">
										<h3>Things You Can Accomplish With TaskDragon</h3>
										<ul >
											<li>Assign tasks to group members </li>
											<li>Gain new dragons/features with each task completed</li>
											<li>Track project productivity</li>
										</ul>
									</div>
								</section>
							<!-- Four -->
								<section id="four">
									<%= render 'messages/message'%>
								</section>
							<% end %>
					</div>
				<!-- Footer -->
					<section id="footer">
						<div class="container">
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</section>

					<div id="titleBar">
						<a href="#header" class="toggle"></a>
						<span class="title">
							<a href="#">Task Dragon </a>
						</span>
					</div>
			</div>
	</body>
