	<body>

		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar">
						<img src="/img/avatar.jpg" alt="" />
						</span>
					<div>
						<% if current_user %>
						<h1 id="logo"><%= current_user.name %></h1>
						<p><span>Team <strong><%= Team.find(current_team_id).name %></strong>!</span></p>
						<span><%= link_to "Sign out", signout_path, id: "sign_out"%></span>
						<% else %>
						<h1 id="logo">Welcome</h1>
						<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
						<% end %>
					</div>
					<!-- <p><a href="#one" class="active">Login/Signup</a></p> -->
				</header>
				<nav id="nav">
					<% if current_user %>
					<ul>
						<li><a href="#one" class="active">Team</a></li>
						<li><a href="#list">Tasks</a></li>
						<li><a href="#four">Contact</a></li>
						<%= link_to "Delete your account", user_path(current_user), :class => :button, :method => :delete %>
						<li><a href="#dragon">My Team's Dragon</a></li>

					</ul>
					<% else %>
					<ul>
						<li><a href="#one" class="active">About</a></li>
						<li><a href="#two">Things I Can Do</a></li>
						<li><a href="#four">Contact</a></li>
					</ul>
					<% end %>
				</nav>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
							<!-- All tasks -->
							<% if current_user && Team.find(current_team_id).name != "TaskDragon" %>
								<section id="one">
								</section>
								<section id="team">
									<%= render 'teams/team' %>
								</section>
								<section id="list">
									<div class="container">
										<%= render 'tasks/tasks'%>
									</div>
								</section>
								<section id="dragon">
								<div class = "container">
								<h1>Learn about your team's dragon. </h1>
								<a href="#" class="image"> <%= image_tag(Team.find(current_team_id).dragon.picture_path) %></a>
								<br><br>
								<p>info about our dragon</p>
								<p><span>Dragon: <strong><%= Team.find(current_user.team_id).dragon.name %></strong></span></p>
								<p><span>Level: <strong><%= Team.find(current_user.team_id).dragon.level %></strong></span></p>

								</div>
								<br><br>
								</section>
								<!--Four -->
								<section id="four">
									<div class="container">
										<h3>Contact us</h3>
										<p>Questions, comments, concerns? Let us know!</p>
										<form method="post" action="#">
											<div class="row uniform">
												<div class="6u 12u(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
												<div class="6u 12u(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
											</div>
											<div class="row uniform">
												<div class="12u"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
											</div>
											<div class="row uniform">
												<div class="12u"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
											</div>
											<div class="row uniform">
												<div class="12u">
													<ul class="actions">
														<li><input type="submit" class="special" value="Send Message" /></li>
														<li><input type="reset" value="Reset Form" /></li>
													</ul>
												</div>
											</div>
										</form>
									</div>
								</section>
							<% elsif current_user && Team.find(current_team_id).name == "TaskDragon" %>
							<section id="one">
							</section>
							<section id="team">
								<%= render 'teams/new' %>
							</section>
							<section id="list">
								<div class="container">
									<h1> Create a team to view tasks. </h1>
								</div>
							</section>
							<!-- Add tasks -->
							<section id="add">
								<div class="container">
									<h1> Create a team to add tasks. </h1>
								</div>
							</section>
							<section id="dragon">
								<div class = "container">
									<h1> Create a team to select a dragon. </h1>
								</div>
								</section>
							<!--Four -->
							<section id="four">
								<div class="container">
									<h3>Contact us</h3>
									<p>Questions, comments, concerns? Let us know!</p>
									<form method="post" action="#">
										<div class="row uniform">
											<div class="6u 12u(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
											<div class="6u 12u(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
										</div>
										<div class="row uniform">
											<div class="12u"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
										</div>
										<div class="row uniform">
											<div class="12u"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
										</div>
										<div class="row uniform">
											<div class="12u">
												<ul class="actions">
													<li><input type="submit" class="special" value="Send Message" /></li>
													<li><input type="reset" value="Reset Form" /></li>
												</ul>
											</div>
										</div>
									</form>
								</div>
							</section>

							<% else %>
							<!-- One -->
								<section id="one">
									<div class="container">
										<header class="major">
											<h2>Welcome to TaskDragon!</h2>
											<p>TaskDragon is an environment that hosts all your project planning needs in a fun, collaborative way!<br />
											</p>
										</header>
									</div>
								</section>

							<!-- Two -->
								<section id="two">
									<div class="container">
										<h3>Things You Can Accomplish With TaskDragon</h3>
										<ul >
											<li>Assign tasks to group members </li>
											<li>Gain new dragons/features with each task completed</li>
											<li>Track project productivity</li>
										</ul>
									</div>
								</section>

							<!-- Three -->
								<section id="three">
									<div class="container">
										<h3>A Few Accomplishments</h3>
										<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
										<div class="features">
											<article>
												<a href="#" class="image"><img src="/img/pic01.jpg"  /></a>
												<div class="inner">
													<h4>Possibly broke spacetime</h4>
													<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
												</div>
											</article>
											<article>
												<a href="#" class="image"><img src="/img/pic02.jpg" alt="" /></a>
												<div class="inner">
													<h4>Terraformed a small moon</h4>
													<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
												</div>
											</article>
											<article>
												<a href="#" class="image"><img src="/img/pic03.jpg" alt="" /></a>
												<div class="inner">
													<h4>Snapped dark matter in the wild</h4>
													<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
												</div>
											</article>
										</div>
									</div>
								</section>

							<!-- Four -->
								<section id="four">
									<div class="container">
										<h3>Contact us</h3>
										<p>Questions, comments, concerns? Let us know!</p>
										<form method="post" action="#">
											<div class="row uniform">
												<div class="6u 12u(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
												<div class="6u 12u(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
											</div>
											<div class="row uniform">
												<div class="12u"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
											</div>
											<div class="row uniform">
												<div class="12u"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
											</div>
											<div class="row uniform">
												<div class="12u">
													<ul class="actions">
														<li><input type="submit" class="special" value="Send Message" /></li>
														<li><input type="reset" value="Reset Form" /></li>
													</ul>
												</div>
											</div>
										</form>
									</div>
								</section>
							<% end %>
					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="container">
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</section>
			</div>

	</body>
